*{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-size: 100%; 
    vertical-align: baseline; 
    background: transparent;
    font-family: 'Fredoka', sans-serif;
 }

 body{
   background-image: url("https://images.pexels.com/photos/163703/woods-landscape-road-loyalsock-state-forest-163703.jpeg?auto=compress&cs=tinysrgb&w=1600");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
 }
 
.wrapper{
    display: grid;
    height: 100%;
}

 header{
   position: sticky;
   top: 0;
    background-color: black;
    padding-left: 1%;
    padding-right: 100%;
    padding-top: 1%;
    padding-bottom: 1%
 }

.Logo{
   border-radius: 15px;
   margin: 0.2em;
}

.Logo:hover{
   cursor: pointer;
}

.MainGrid-Item{
    display: grid;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    padding-top: 2%;
    background-color: gray;
    background: rgba(128, 128, 128, 0.8);
    border-radius: 15px;
}

.PageTitle{
     border-bottom: 0.1em solid white ;
     border-radius: 6px;
     font-size: 4em;
     text-align: center;
     color: white;;
 }

 .Introduction{
     padding-top: 1em;
     font-size: 1.5em;
     text-align: center;
     color: white;
 }

 .Person
 {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(48, 47, 47);
    padding: 1.5em;
    border-radius: 15px;
 }

 .Overview{
     border-right: 0.01em solid white;
     padding-right: 2em;
 }

 .Picture
 {
    height: 15em;
    border-radius: 10px;
 }

 .Name
 {
    text-align: center;
    font-size: 1.3em;
    color: white;
 }

 .PersonText
 {
    padding-left: 2em;
    display: grid;
    gap: 1em;
 }

 .PersonTitle
 {
    font-size: 1.5em;
    color: white;
    text-decoration: underline;
 }

 .PersonAnswer{
    padding-top: 0.3em;
    font-size: 1.1em;
    color: white;
 }

 footer{
     margin-top: 3%;
     background-color: black;
     width: 100%;
     height: 6em;
 }

 .FooterText{
    color: white;
    padding-left: 1.5em;
    font-size: 1.5em;
    padding-top: 1.4em;
 }

 @media (max-width: 990px) {

      body{
        background-image: url("https://images.pexels.com/photos/70365/forest-sunbeams-trees-sunlight-70365.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      }

      .Logo{
      height: 3em;
      }

      .PageTitle{
         font-size: 3em;
      }
 
      .Introduction{
         padding-top: 1em;
         font-size: 1.2em;
         margin-bottom: 1em;
      }

      .Person{
         display: grid;
         grid-template-rows: auto;
         grid-template-columns: 2fr;
      }

      .Overview{
         border-right: 0;
         border-bottom: 0.01em solid white;
         padding-right: 0em;;
      }

      .Name
      {
         text-align: center;
         font-size: 1.2em;
         margin-bottom: 1em;
      }
      .Picture{
         width: 75%;
         height: auto;
         margin-left: 12.5%;
         margin-right: 12.5%;
      }

      .PersonText
      {
         padding-top: 1em;
         padding-left: 0.8em;
         text-align: center;
         font-size: 0.9em;
      }

      .PersonTitle
      {
         text-align: center;
      }
 }